#Database information
POSTGRES_DB=luka
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5433

#API information
API_PORT=8000

#MLX endpoint
MLX_SERVER_URL=

#Security secret
JWT_SECRET=

#BREVO information
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

#Telegram data
TELEGRAM_TOKEN=
